<div id="inner">
  <header>
    <div class="inner"><h1>Tierra Extrania Barcelona</h1></div>
  </header>

<div class="inner">





<h2>Philosophy</h2>

<p><strong>Tierra Extraña</strong> is a vertical gardening project that celebrates new creative ways to
reconnect with Nature.</p>

<p>Finding playful ways to reintroduce plants into our homes is a way to bring us closer to
where we used to belong. Tierra Extraña attempts a shift from a short-sighted use & throw
to a longer run mutually beneficial relationship with Nature. This initiative nurtures
interconnectedness, balance and respect for the next one and the wholeness that we make
up together.</p>

<p>Extrañar is Spanish for longing – a central concept to this project. Tierra Extraña
longs for a stronger and more interconnected Earth – Home to all of us. The dream is to
restore the lost link and return to a harmonic communion with Mother Nature.</p>

<p>Separation is an illusion - we are all in this together.</p>

<h2>Projects</h2>

<h4>Teby</h4>

<div id="tabs-container">
  <ul class="tabs-menu">
      <li ><a href="#tab-s">Small</a></li>
      <li><a href="#tab-m" id="click">Medium</a></li>
      <li><a href="#tab-l">Large</a></li>
      <!-- <li><a href="#tab-xl">Extra Large</a></li> -->
  </ul>
  <div class="tab">
    <div id="tab-s" class="tab-content">

      <div class='tebies'>
        <img src="images/Teby3.jpg" />
        <img src="images/Teby15.jpg" />
      </div>
    </div>
    <div id="tab-m" class="tab-content" class="current">

      <div class='tebies'>

        <img src="images/Teby7.jpg" />
        <img src="images/Teby6.jpg" />

        <img src="images/Teby16.jpg" />
        <img src="images/Teby13.jpg" />
        <img src="images/Teby14.jpg" />
      </div>
    </div>
    <div id="tab-l" class="tab-content">

      <div class='tebies'>

        <img src="images/Teby9.jpg" />
        <img src="images/Teby10.jpg" />
        <img src="images/Teby4.jpg" />
      </div>
    </div>
  </div>
</div>



<!-- <img src="images/Teby5.jpg" />

<img src="images/Teby8.jpg" />

<img src="images/Teby12.jpg" /> -->


<h4>Midnight Fantasies</h4>
<div id='myGallery'>
<img src="images/Shoe1.jpg" />
<img src="images/Shoe2.jpg" />
<img src="images/Shoe3.jpg" />
<img src="images/Shoe4.jpg" />
<img src="images/Shoe5.jpg" />
</div>

<h2>Contact</h2>

<p>Xenija Berkova</p>
<p>+34 633531308</p>

<p><a href="mailto:info@tierraextrania.es">info@tierraextrania.es</a></p>
<!--
<hr/>

<div id="quote">
But I don’t want comfort.<br/>
I want poetry.<br/>
I want danger. I want freedom.<br/>
I want goodness.<br/>
I want sin.<br/>
<p>- Aldous Huxley.
A Brave New World.</p>
</div>
 -->
</div>
</div>





<div class="inner">
<h2>Comments</h2>

<div id="disqus_thread"></div>
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'tierraextrania'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
